# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

#Buidler files
cache
artifacts


typechain

dist/
